<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1512909006721-3d6018887383?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);">
  <div class="container">
    <h1>Drawing names for <strong>secret santa</strong> has never <strong>been easier </strong>!</h1>
    <p>Set up the title, the names and we'll take care of the rest.</p>
    <% if user_signed_in? %>
      <a class="btn btn-flat" data-bs-toggle="modal" href="#exampleModalDraw" role="button">Create a draw!</a>
    <% else %>
      <a class="btn btn-flat" data-bs-toggle="modal" href="#exampleModal" role="button">Try now!</a>
    <% end %>
  </div>
</div>
<div class="container mt-2 mb-2 text-center">
  <h1>
    Joining a draw?
  </h1>
  <%= link_to 'Click here', '#', class: 'btn btn-flat' %>
</div>
<% unless @draws.empty? %>
  <div class="container mt-2 mb-2 text-center">
    <hr>
    <h1>Your draws</h1>
    <p>You have got: <%= @draws.count %> draws</p>
    <% @draws.each do |draw| %>
      <div class="container d-flex justify-content-between mt-2">
        <div class="draw-title">
          <h1><%= draw.title.capitalize %></h1>
        </div>
        <div class="add-partecipant">
          <%= link_to 'Check it out', draw_path(draw), class: 'btn btn-flat' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<%= render partial: "shared/modal" %>
<%= render partial: "shared/modal_draw" %>
