<div class="container mt-3 mb-3 text-center", style='min-height: 77vh;'>
  <h1><%= @draw.title.capitalize %></h1>
  <h4>Budget: £<%= @draw.budget %></h4>
  <h4>Date: <%= @draw.date %></h4>
  <% unless @draw.partecipants.empty? %>
    <% @draw.partecipants.each_with_index do |partecipant, index| %>
      <div class="container d-flex justify-content-between mt-2">
        <div class="draw-title">
          <h4><%= partecipant.name.capitalize %></h4>
        </div>
        <div class="add-partecipant">
          <%= link_to 'Remove', partecipant_path(partecipant), data: { turbo_method: :delete }, class: 'btn btn-warning' %>
          <% if partecipant.name == @draw.partecipants.last.name %>
            <a class="btn btn-flat" data-bs-toggle="modal" href="#exampleModalPartecipant" role="button">Add!</a>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <a class="btn btn-flat" data-bs-toggle="modal" href="#exampleModalPartecipant" role="button">Add partecipant!</a>
  <% end %>
  <%= link_to 'Launch the draw!', '#', class: 'btn btn-primary' %>
  <%= link_to 'Set exclusions!', '#', class: 'btn btn-warning' %>
</div>
<%= render partial: "shared/modal_partecipant" %>
